*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container{
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.nav_area{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}
.link{
    display: flex;
    gap: 2rem;
}
.link ul{
    display: flex;
    gap: 2rem;
}

.link ul li{
    list-style: none;
}

.link ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
}

.logo h1{
    font-size: 2rem;
    font-weight: bold;
}
.burger{
    display: none;
}


#main_area{
    width: 100%;
    height: 50rem;
}

.main_header{
    text-align: center;
    padding-top: 3rem;
}

.main_header h1{
    font-size: 3rem;
    font-weight: bold;
}

.main_header p{
    font-size: 1.5rem;
}

.boxs{
   padding-top: 8rem;
   display: flex;
   justify-content: center;
   gap: 30rem;
}

.boxs .box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 20rem;
   height: 20rem;
   gap: 3rem;
   border-radius: 1rem;
}

.boxs .box h4{
   font-size: 1.8rem;
   font-weight:bold ;
 }

 .boxs .box p{
    font-size: 1.3rem;
  }

@media(max-width:768px){
    .burger{
        display: block;
    }
    .link ul{
        display: none;
    }
    .link .guzgu{
        display: none;
    }
    .boxs{
        flex-direction: column;
        gap: 4rem;
    }
    .main_header h1{
        font-size: 2rem;
    }
    
    .main_header p{
        font-size: 1.3rem;
    }
}